* {
    font-family: Source Code Pro for Powerline;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(168, 81, 110, 0.0);
}

#workspaces button.focused {
    	border: 1px solid rgba(222, 112, 161, 1);
}

#workspaces button,
#custom-free,
#custom-mocp,
#custom-alsa,
#custom-netspeed,
#clock,
#cpu,
#memory,
#network,
#mode,
#idle_inhibitor {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
    color: #e4e4e4;
    background-color: #696969;
    border-radius: 2px;
    border: 1px solid rgba(228, 228, 228, 1);
}
