* {
    border: none;
    padding-right: 1px;
    padding-left: 1px;
    font-family: Source Code Pro for Powerline;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
}

#workspaces button.focused {
	background-color: #e5c4cc;
	color: #a8516e;
}

#workspaces button,
#custom-free,
#custom-mocp,
#custom-alsa,
#custom-netspeed,
#clock,
#cpu,
#memory,
#network,
#mode,
#idle_inhibitor {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
    color: #f2e1e5;
    background-color: #b86e84;
    border-radius: 3px;
    border: 1px solid rgba(242, 225, 229, 1);
}
