# vim: set syntax=conf:

method.insert = cfg.basedir,	private|const|string, (cat, "/mnt/hdd1/rtorrent")
method.insert = cfg.download,	private|const|string, (cat,(cfg.basedir),"download/")
method.insert = cfg.logs,	private|const|string, (cat,(cfg.basedir),"log/")
method.insert = cfg.logfile,	private|const|string, (cat,(cfg.logs),"rtorrent-",(system.time),".log")
method.insert = cfg.session,	private|const|string, (cat,(cfg.basedir),".session/")
method.insert = cfg.watch,	private|const|string, (cat,(cfg.basedir),"watch/")


execute.throw = sh, -c, (cat,\
	"mkdir -p \"",(cfg.download),"\" ",\
		"\"",(cfg.logs),"\" ",\
		"\"",(cfg.session),"\" ",\
		"\"",(cfg.watch),"/load\" ",\
		"\"",(cfg.watch),"/start\" ")

network.port_random.set = yes

trackers.use_udp.set = yes

dht.mode.set = auto
protocol.pex.set = 1
trackers.use_udp.set = yes

throttle.global_down.max_rate.set_kb = 1000
throttle.global_up.max_rate.set_kb = 20


throttle.max_uploads.set = 50
throttle.max_downloads.set = 50

throttle.max_downloads.global.set = 2
throttle.max_uploads.global.set = 10

throttle.min_peers.normal.set = 100
throttle.max_peers.normal.set =  1000
throttle.min_peers.seed.set = -1
throttle.max_peers.seed.set = -1
trackers.numwant.set = -1

pieces.memory.max.set = 4096M
pieces.preload.type.set = 2

protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
